@model Merkato.Lib.Models.ClientRequest

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ClientRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <input asp-for="ClientId" class="form-control" />
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutletId" class="control-label"></label>
                <input asp-for="OutletId" class="form-control" />
                <span asp-validation-for="OutletId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MechanismId" class="control-label"></label>
                <input asp-for="MechanismId" class="form-control" />
                <span asp-validation-for="MechanismId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NbAgentShift1" class="control-label"></label>
                <input asp-for="NbAgentShift1" class="form-control" />
                <span asp-validation-for="NbAgentShift1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NbAgentShift2" class="control-label"></label>
                <input asp-for="NbAgentShift2" class="form-control" />
                <span asp-validation-for="NbAgentShift2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NbAgentShift3" class="control-label"></label>
                <input asp-for="NbAgentShift3" class="form-control" />
                <span asp-validation-for="NbAgentShift3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NbAgentShift4" class="control-label"></label>
                <input asp-for="NbAgentShift4" class="form-control" />
                <span asp-validation-for="NbAgentShift4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

