@model Merkato.Lib.Models.TrainingDetails

@{
    ViewData["Title"] = "Create";
}

<div class="col-md-6">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Create Training</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" asp-action="Create">
            <div class="box-body">
                <div class="col-md-10">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Question" class="control-label"></label>
                        <input asp-for="Question" class="form-control" />
                        <span asp-validation-for="Question" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AnswerValues" class="control-label"></label>
                        <input asp-for="AnswerValues" class="form-control" />
                        <span asp-validation-for="AnswerValues" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AnswerPoint" class="control-label"></label>
                        <input asp-for="AnswerPoint" class="form-control" />
                        <span asp-validation-for="AnswerPoint" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AnswerCorrect" class="control-label"></label>
                        <input asp-for="AnswerCorrect" class="form-control" />
                        <span asp-validation-for="AnswerCorrect" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a class="btn btn-default" asp-action="Index" asp-controller="TrainingDetails" asp-route-id="@ViewBag.TrainingId">Back to List</a>
                <button type="submit" class="btn btn-info pull-right">Save</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
</div>


@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Question" class="control-label"></label>
                <input asp-for="Question" class="form-control" />
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnswerValues" class="control-label"></label>
                <input asp-for="AnswerValues" class="form-control" />
                <span asp-validation-for="AnswerValues" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnswerPoint" class="control-label"></label>
                <input asp-for="AnswerPoint" class="form-control" />
                <span asp-validation-for="AnswerPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnswerCorrect" class="control-label"></label>
                <input asp-for="AnswerCorrect" class="form-control" />
                <span asp-validation-for="AnswerCorrect" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

