
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="row">
    <div class="well col-md-12">
        <div class="form-group">
            <label for="Days" class="control-label">Date Range</label>
            <input for="Days" name="daterange" value="01/01/2018 - 01/15/2018" class="form-control" />
            <span for="Days" class="text-danger"></span>
        </div>
    </div>
</div>